<%= render "devise/shared/error_messages", resource: resource %>
<div id="main" class="main">
  <div class="container mt-3">
    <h1><a href="/">Planetary Quantification</a></h1>
    <h4>Online Tool</h4>
    <hr></hr>
    <h6>Password Recovery</h6>
    <hr></hr>
  </div>
  <div class="container formgroup single mt-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <!-- <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><%= :email.capitalize %></span>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Please, type your email" %>
      </div>
      <div class="secondary-nav-controls">
        <div class="secondary-nav-controls--btn">
          <%= f.submit "Send me instructions", class: "actions btn btn-primary" %>
        </div>
      </div>
      <!-- <div class="actions">
        <%= f.submit "Send me reset password instructions" %>
      </div> -->
    <% end %>
  </div>
  <div class="container mt-4">
    <hr></hr>
    <h6>or</h6>
    <hr></hr>
  </div>
  <div class="container site-mapping mt-2">
    <h6><%= link_to "Go Back", :back %></h6>
  </div>
</div>



<%= render "devise/shared/links" %>
