<% romanHouses = {
  "1" => "I",
  "2" => "II",
  "3" => "III",
  "4" => "IV",
  "5" => "V",
  "6" => "VI",
  "7" => "VII",
  "8" => "VIII",
  "9" => "IX",
  "10" => "X",
  "11" => "XI",
  "12" => "XII"
}%>
  <div class="container mt-3">
    <hr></hr>
    <h6><%= t("results_page.results") %></h6>
    <hr></hr>
  </div>
  <div class="container mt-3 mb-5">
    <% @planets_dignities.each do |planet| %>
      <div class="planet-result">
        <%= planet[:dignities][:accidental_dignities] %>
        <!--<%= t("planets.#{planet[:planet_name]}") %>-->
        <span class="planet-icon <%= planet[:planet_name] %> "></span>
        <div class="planet-result--summary row">
          <div class="col">
            <span class="sign-icon top <%= planet[:current_sign] %>"></span>
            <span class="sign-icon bottom"><%= t("zodiac_signs.#{planet[:current_sign].to_s}") %></span>
          </div>
          <div class="col">
            <span class="sign-degree top"><%= planet[:sign_degree].round(2)%></span>
            <span class="sign-degree bottom">degree</span>
          </div>
          <div class="col">
            <span class="sign-house top"><%= romanHouses[planet[:house].to_s] %></span>
            <span class="sign-house bottom">house</span>
          </div>
        </div>
        <hr></hr>
        <h6 class="planet-list essential heading"><!--<span class="title">Essential Dignities</span><span class="score">5</span><span class="toggler">+</span>-->Essential Dignities</h6>
        <hr></hr>
        <ul class="dignities-list">
          <% if planet[:dignities][:essential_dignities][:domicile][:result]  %>
            <li><span>Domicile</span><span class="scored">+<%= planet[:dignities][:essential_dignities][:domicile][:score] %></span></li>
          <% else %>
            <li><span>Domicile</span><span><%= planet[:dignities][:essential_dignities][:domicile][:score] %></span></li>
          <% end %>
          <% if planet[:dignities][:essential_dignities][:exaltation][:result]  %>
            <li><span>Exaltation</span><span class="scored">+<%= planet[:dignities][:essential_dignities][:exaltation][:score] %></span></li>
          <% else %>
            <li><span>Exaltation</span><span><%= planet[:dignities][:essential_dignities][:exaltation][:score] %></span></li>
          <% end %>
          <% if planet[:dignities][:essential_dignities][:detriment][:result]  %>
            <li><span>Detriment</span><span class="unscored"><%= planet[:dignities][:essential_dignities][:detriment][:score] %></span></li>
          <% else %>
            <li><span>Detriment</span><span><%= planet[:dignities][:essential_dignities][:detriment][:score] %></span></li>
          <% end %>
          <% if planet[:dignities][:essential_dignities][:fall][:result]  %>
            <li><span>Fall</span><span class="unscored"><%= planet[:dignities][:essential_dignities][:fall][:score] %></span></li>
          <% else %>
            <li><span>Fall</span><span><%= planet[:dignities][:essential_dignities][:fall][:score] %></span></li>
          <% end %>
          <% if planet[:dignities][:essential_dignities][:pilgrim][:result]  %>
            <li><span>Pilgrim</span><span class="unscored"><%= planet[:dignities][:essential_dignities][:pilgrim][:score] %></span></li>
          <% else %>
            <li><span>Pilgrim</span><span><%= planet[:dignities][:essential_dignities][:pilgrim][:score] %></span></li>
          <% end %>
          <% if planet[:dignities][:essential_dignities][:domicile_reception][:result]  %>
            <li><span>Domicile Reception</span><span class="scored"><%= planet[:dignities][:essential_dignities][:domicile_reception][:score] %></span></li>
          <% else %>
            <li><span>Domicile Reception</span><span><%= planet[:dignities][:essential_dignities][:domicile_reception][:score] %></span></li>
          <% end %>
          <% if planet[:dignities][:essential_dignities][:exaltation_reception][:result]  %>
            <li><span>Exaltation Reception</span><span class="scored"><%= planet[:dignities][:essential_dignities][:exaltation_reception][:score] %></span></li>
          <% else %>
            <li><span>Exaltation Reception</span><span><%= planet[:dignities][:essential_dignities][:exaltation_reception][:score] %></span></li>
          <% end %>
          <% if planet[:dignities][:essential_dignities][:decanate][:result]  %>
            <li><span>In own decanate</span><span class="scored"><%= planet[:dignities][:essential_dignities][:decanate][:score] %></span></li>
          <% else %>
            <li><span>In own decanate</span><span><%= planet[:dignities][:essential_dignities][:decanate][:score] %></span></li>
          <% end %>
          <% if planet[:dignities][:essential_dignities][:term][:result]  %>
            <li><span>In own term</span><span class="scored"><%= planet[:dignities][:essential_dignities][:term][:score] %></span></li>
          <% else %>
            <li><span>In own term</span><span><%= planet[:dignities][:essential_dignities][:term][:score] %></span></li>
          <% end %>
          <% if planet[:dignities][:essential_dignities][:triplicity][:result]  %>
            <li><span>In triplicity</span><span class="scored"><%= planet[:dignities][:essential_dignities][:triplicity][:score] %></span></li>
          <% else %>
            <li><span>In triplicity</span><span><%= planet[:dignities][:essential_dignities][:triplicity][:score] %></span></li>
          <% end %>
          <% if planet[:dignities][:essential_dignities][:via_combusta][:result]  %>
            <li><span>In via combusta</span><span class="unscored"><%= planet[:dignities][:essential_dignities][:via_combusta][:score] %></span></li>
          <% else %>
            <li><span>In via combusta</span><span><%= planet[:dignities][:essential_dignities][:via_combusta][:score] %></span></li>
          <% end %>
        </ul>
        <hr></hr>
        <h6 class="planet-list accidental heading"><!--<span class="title">Accidental Dignities</span><span class="score">5</span><span class="toggler">+</span>-->Accidental Dignities</h6>
        <hr></hr>
        <ul class="dignities-list">
          <li><span>In House</span><span>2</span></li>
          <li><span>Direct</span><span>2</span></li>
          <li><span>Retrograde</span><span>2</span></li>
          <li><span>Fast</span><span>2</span></li>
          <li><span>Slow</span><span>2</span></li>
          <li><span>Stationary</span><span>2</span></li>
          <li><span>In Joy</span><span>2</span></li>
          <li><span>Is Dispositor</span><span>2</span></li>
        </ul>
      </div>
    <% end %>
    <!--<div class="planet-result">
       <h3>sol</h3>
      <span class="planet-icon"></span>
      <div class="planet-result--summary row">
        <div class="col">
          <span class="sign-icon top"></span>
          <span class="sign-icon bottom">aries</span>
        </div>
        <div class="col">
          <span class="sign-degree top">16.04</span>
          <span class="sign-degree bottom">grado</span>
        </div>
        <div class="col">
          <span class="sign-house top">IV</span>
          <span class="sign-house bottom">casa</span>
        </div>
      </div>
      <hr></hr>-->
      <!--<h6 class="planet-list essential heading"><span class="title">Essential Dignities</span><span class="score">5</span><span class="toggler">+</span>Essential Dignities</h6>-->
      <!-- <hr></hr>
      <ul class="dignities-list">
        <li><span>Domicile</span><span>3</span></li>
        <li><span>Domicile Reception</span><span>3</span></li>
        <li><span>Exaltation</span><span>3</span></li>
        <li><span>Exaltation reception</span><span>3</span></li>
        <li><span>Exile</span><span>3</span></li>
        <li><span>Fall</span><span>3</span></li>
        <li><span>Pilgrim</span><span>3</span></li>
      </ul>
      <hr></hr> -->
      <!--<h6 class="planet-list accidental heading"><span class="title">Essential Dignities</span><span class="score">5</span><span class="toggler">+</span>Accidental Dignities</h6>-->
      <!-- <hr></hr>
      <ul class="dignities-list">
        <li><span>Decanate</span><span>3</span></li>
        <li><span>Term</span><span>3</span></li>
        <li><span>Triplicity</span><span>3</span></li>
        <li><span>Joy</span><span>3</span></li>
        <li><span>Via combusta</span><span>3</span></li>
        <li><span>Fall</span><span>3</span></li>
        <li><span>Planet Dispositor</span><span>3</span></li>
        <li><span>Direct</span><span>3</span></li>
        <li><span>Retrograde</span><span>3</span></li>
        <li><span>Fast</span><span>3</span></li>
        <li><span>Slow</span><span>3</span></li>
        <li><span>Stationary</span><span>3</span></li>
      </ul>
      <hr></hr> -->
      <!--<h6 class="planet-list totals heading"><span class="title">Essential Dignities</span><span class="score">5</span><span class="toggler">+</span>4</h6>-->
      <!-- <hr></hr> -->
    </div>
  </div>
  <div class="container mt-3 mb-5">
      <div class="re-submit-holder mb-5">
        <a class="btn btn-primary" href="/" role="button"><%= t("results_page.enter_new_data") %></a>
      </div>
    </div>
  </div>
