<h1>Planet dignities</h1>
<div>
  <% @planets_dignities.each do |planet| %>
  <div style="margin: 40px 0">
    <p>Planet: <%= planet[:planet_name].capitalize %></p>
    <p>Current sign: <%= planet[:current_sign].to_s.capitalize %></p>
    <p>Sign degree: <%= planet[:sign_degree].round(2) %></p>
    <p>Speed: <%= planet[:speed].round(4) %></p>
    <p>House: <%= planet[:house] %></p>
    <p>Dignities:</p>
    <ul>
    <% planet[:dignities].each do |dignity, data| %>
      <% if data.class == Hash && data[:result] %>
        <li><%= dignity.capitalize %>: <%= data[:score] %></li>
      <% end %>
    <% end %>
    </ul>
    <p>Total dignity: <%= planet[:dignities]["total_score"] %></p>
      </div>
  <% end %>
</div>

<%= link_to "Home", "/" %>
