<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body class="">
    <ul class="nav nav-pills justify-content-end">
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %>&nbsp;</a>
        <div class="dropdown-menu">
          <%= link_to t('global.navigation.edit_profile'), edit_user_registration_path, :class => 'dropdown-item' %>
          <%= link_to t('global.navigation.logout'), destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
          <%= link_to t('global.navigation.preferences'), edit_profile_path(current_user.id), :class => 'dropdown-item'  %>
        </div>
      </li>
    <% else %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Your Account &nbsp;</a>
        <div class="dropdown-menu">
          <%= link_to t('global.navigation.sign_up'), new_user_registration_path, :class => 'nav-link'  %>
          <%= link_to t('global.navigation.login'), new_user_session_path, :class => 'nav-link'  %>
        </div>
      </li>
    <% end %>
    </ul>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div id="main" class="main">
      <div class="container mt-3">
        <h1><a href="/">Planetary Quantification</a></h1>
        <h4>Online Tool</h4>
      </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
